In [ ]:
a = input("Enter your name: ")
print("Hello", a, "Welcome")

In [ ]:
# Taking two values using split function
x, y = input("Enter two values").split()
print("The value of x is: ", x)
print("The value of y is: ", y)

In [10]:
type(x)

str

In [8]:
# Taking input as int

n = int(input("How many roses: "))
print("Roses: ", n)

How many roses:  5

Roses:  5

In [9]:
type(n)

int

In [14]:
# Taking input as float
price = float(input("Price of each rose: "))
print(price)

Price of each rose:  5

5.0

In [12]:
type(price)

float

In [17]:
# Finding Object Types

a = "Hello world"
b = 10
c = 11.22
d = ("Rajagiri", "College", "Of", "Social Sciences")
e = ["Rajagiri", "College", "Of", "Social Sciences"]
f = {"Rajagiri" : 1, "College" : 2, "Of Social Sciences" : 3}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

In [21]:
# Formatting the string using placeholder

amount = 150.75
print("Amount: {:.4f}".format(amount))

Amount: 150.7500

In [24]:
# End Parameter with '@'
print("Python", end='@')

# Seperating with Comma
print('R', 'C', 'S', 'S', sep=',')

# For Formatting a date
print('17', '06', '2025', sep=':')

Python@R,C,S,S
17:06:2025

In [25]:
# Using f strings
name = "john"
age = 23
print(f"Hello, My name is {name} and I'm {age} years old.")

Hello, My name is john and I'm 23 years old.

In [32]:
# Operators in Python

# Arthametic Operators
a = 20
b = 10

print(f"The Variablies are {a} and {b}")

# Addition
print("Addition:", a + b)

# Subtraction
print("Subtraction:", a - b)

# Multiplication
print("Multiplication:", a * b)

#Division
print("Divison:", a / b)

# Floor Division
print("Floor Division:", a // b)

# Modulus
print("Modulus:", a % b)

#Exponentiation
print("Exponentiation:", a**b)

The Variablies are 20 and 10
Addition: 30
Subtraction: 10
Multiplication: 200
Divison: 2.0
Floor Division: 2
Modulus: 0
Exponentiation: 10240000000000

In [34]:
# Comparison Operators
a = 13
b = 33

print(a > b)
print(a < b)
print(a == b)
print(a != b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

In [36]:
# Assignment and add

a = 5
a += 10
print(a)

b = 10
b += 20
print(b)

15
30

In [37]:
# Assignment and Subtract
a = 5
a -= 2
print(a)

3

In [38]:
# Logical Operators - AND

a = True
b = True

print(a and b)

True

In [39]:
# Logical Operators - OR

a = True
b = False

print(a or b)

True

In [40]:
# Logical Operators - NOT

a = True
print(not a)

False

In [45]:
# Membership Operator

# in Operator

'a' in 'apple'
5 in [1, 2, 3, 4, 5]

True

In [48]:
# Membership Operator

# not in Operator

'z' not in 'apple'

True

In [50]:
# Identity Operator
# is operator

a = [1, 2, 3]
b = a
print(a is b) 

c = [1, 2, 3]
print( a is c)

True
False

In [111]:
id(a)

2114872873920

In [112]:
id(b)

2114872873920

In [113]:
# is not operator

a = 10
b = 20
print( a is not b)
c = 10
print(a is not c)

True
False

In [117]:
# String Creation

s1 = "Hello"
s2 = "Python"
s3 = """This is a
Multiline String"""

print(s1)
print(s2)
print(s3)

Hello
Python
This is a
Multiline String

In [120]:
# Accessing Characters(Indexing)

s = "Python"
print(s[0])
print(s[1])
print(s[2])
print(s[-1]) #Prints from the last

P
y
t
n

In [6]:
# Slicing Strings
s = "Python Programming"
print(s[0:6])
print(s[7:])
print(s[:6])

Python
Programming
Python

In [11]:
# Strings Length

s = "Hello"
print("Length of String is:", len(s))

# String Concatenation

first = "Mission"
second = "Impossible"
result = first + " " + second
print(result)

Length of String is: 5
Mission Impossible

In [12]:
# String Repetition

laugh = "ha"
print(laugh * 5)

hahahahaha

In [16]:
# String Methods - lower(), upper()

s = "python"
print(s.upper())
print(s.lower())

PYTHON
python

In [24]:
#Built in functions of list

lst = [1, 2, 5, 7, 8, 9]

print(len(lst))

print(sum(lst))

print(min(lst))

print(max(lst))

6
32
1
9

In [25]:
myTuple = (1, 2, "Kerala", "India", 1.23, True)
myTuple

T = () # Empty Tuple

(1, 2, 'Kerala', 'India', 1.23, True)

In [26]:
#Convert a list of tuple
T = tuple([1, 2, 3])
print(T)

(1, 2, 3)