In [5]:
import pandas as pd

data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
4    0.00
dtype: float64

In [7]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
data['b']

np.float64(0.5)

In [16]:
data = pd.Series([1, 2, 3, 4], index=[ 2, 3, 4, 5])
data[2]

np.int64(1)

In [5]:
population_dic = {
    'Kochi':383521,
    'Kozhikode': 26448193,
    'Trivandrum': 19651127,
    'Thrissur': 234567
}

population = pd.Series(population_dic)
population

Kochi           383521
Kozhikode     26448193
Trivandrum    19651127
Thrissur        234567
dtype: int64

In [17]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [7]:
area_dic = {
    'Kochi':83521,
    'Kozhikode': 448193,
    'Trivandrum': 651127,
    'Thrissur': 24567
}

area = pd.Series(area_dic)

In [10]:
places = pd.DataFrame({
    "Population": population,
    "Area" : area
})

print(places)

            Population    Area
Kochi           383521   83521
Kozhikode     26448193  448193
Trivandrum    19651127  651127
Thrissur        234567   24567

In [11]:
places.index

Index(['Kochi', 'Kozhikode', 'Trivandrum', 'Thrissur'], dtype='object')

In [12]:
places['Area']

Kochi          83521
Kozhikode     448193
Trivandrum    651127
Thrissur       24567
Name: Area, dtype: int64

In [17]:
df_scores = pd.DataFrame({
    'Test1': [88, 89, 90, 91, 92], 
    'Test2':[84, 85, 86, 87, 88]
    }, 
    index=['John', 'Amal', 'Sachin', 'Arjun', 'Alan'])

print(df_scores)

        Test1  Test2
John       88     84
Amal       89     85
Sachin     90     86
Arjun      91     87
Alan       92     88

In [22]:
print(f"Max\n{df_scores.max()}") # Max Values of column
print(f"Mean\n{df_scores.mean()}") # Mean Values of column
print(f"Standard Deviation\n{df_scores.std()}") # Standard Deviation of each column

Max
Test1    92
Test2    88
dtype: int64
Mean
Test1    90.0
Test2    86.0
dtype: float64
Standard Deviation
Test1    1.581139
Test2    1.581139
dtype: float64

In [ ]:
df_scores.head(2) #prints first two records

      Test1  Test2
John     88     84
Amal     89     85

In [ ]:
df_scores.tail(2) #prints last two records

       Test1  Test2
Arjun     91     87
Alan      92     88

In [34]:
ind = pd.Index([2, 3, 5, 7, 11])
print(ind)
print(ind[1])
print(ind[2:4])
print(ind[::-1])
print(ind[::2])

Index([2, 3, 5, 7, 11], dtype='int64')
3
Index([5, 7], dtype='int64')
Index([11, 7, 5, 3, 2], dtype='int64')
Index([2, 5, 11], dtype='int64')